body {
  background: url(web_bg_output-5.jpeg);
  background-size: 100% auto;
  background-repeat: repeat-y;
  font-family: "Open sans", sans-serif;
  min-height: 100vh;
}

textarea {
  width: 100vh;
  height: 45vh;
  font-size: 2vh;
  padding: 1vh;
  max-width: 70%;
  max-height: 30%;
}

.App {
  text-align: center;
}

.btn-group {
  text-align: center;
}

.btn-group button {
  display:inline-block;
}

.Intro img {
  width: 20vh;
}

/* Define the shape and color of the hamburger lines */
.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}


/* top line needs a little padding */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/**
 * Animate collapse into X.
 */

/* top line rotates 45 degrees clockwise and moves up and in a bit to close the center of the X in the center of the button */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}
/* center line goes transparent */
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}
/* bottom line rotates 45 degrees counter clockwise, in, and down a bit to close the center of the X in the center of the button  */
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg) ;
}


/**
 * Animate collapse open into hamburger menu
 */

/* top line moves back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg) ;
}
/* middle line goes back to regular color and opacity */
.navbar-toggler span:nth-child(2) {
    opacity: 1;
}
/* bottom line goes back to initial position and rotates back to 0 degrees */
.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg) ;
}

footer {
  min-height: 10vh;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Montserrat";
  font-size: 2.5vh;
  border-width: 1vh;
}
